<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <h1>Início</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        Aqui Aparecerá o conteúdo.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>