/* START: AGENDA */
.dhtmlx_scheduler {
	width: 100%;
	height: 510px;
}

.blocked_time {
	background-color: #ddd;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

.dhx_event_resize {
	display: none;
}

.dhx_cal_select_menu {
	display: none;
}

.dhtmlXTooltip {
	-webkit-border-radius: 05px !important;
	-moz-border-radius: 05px !important;
	border-radius: 05px !important;
}

.vp-popover-reservation-obs {
	width: 238px;
  	white-space: nowrap;
 	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-bottom: 15px;
}

.dhx_scale_hour {
    border-left: 1px solid #cecece;
}

.dhx_cal_event_clear {
	min-height: 16px;
}

#vp-show-popover{
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 0.7;
    background: rgba(0,0,0,0.6);
    background-size: 100px;
    z-index: 1031;
    text-align: center;
}

@media (max-width: 790px) {
	.dhx_cal_date {
	    display: none;
	}
}

@media (max-width: 505px) {
	.dhx_cal_today_button {
	    display: none;
	}
}

@media (max-width: 420px) {
	.dhx_minical_icon {
	    display: none;
	}
}

@media (max-width: 370px) {
	.dhx_cal_tab_last {
	    display: none;
	}

	.dhx_cal_tab_half {
		border-bottom-right-radius: 5px !important;
    	border-top-right-radius: 5px !important;
	}
}

.event_cancelled .event_pending .event_confirmed .event_attended{
	border: none;
}

.dhx_cal_event.event_cancelled div:not(.dhx_menu_icon):not(.dhx_menu_head) {
	color:#d3431f;
	background: rgb(214, 13, 23) transparent;
	background: rgba(214, 13, 23, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3431f, endColorstr=#d3431f);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3431f, endColorstr=#d3431f)";
	font-weight:normal;
	text-align:left;
}

.dhx_cal_event.event_pending div:not(.dhx_menu_icon):not(.dhx_menu_head) {
	color: #2494f2;
	background: rgb(50, 174, 227) transparent;
	background: rgba(50, 174, 227, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2494f2, endColorstr=#2494f2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2494f2, endColorstr=#2494f2)";
	font-weight: normal;
	text-align: left;
}

.dhx_cal_event.event_confirmed div:not(.dhx_menu_icon):not(.dhx_menu_head) {
	color:#19A61E;
	background: rgb(31, 204, 36) transparent;
	background: rgba(31, 204, 36, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19A61E, endColorstr=#19A61E);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19A61E, endColorstr=#19A61E)";
	font-weight:normal;
	text-align:left;
}

.dhx_cal_event.event_attended div:not(.dhx_menu_icon):not(.dhx_menu_head) {
	color:#9330D1;
	background: rgb(169, 59, 237) transparent;
	background: rgba(169, 59, 237, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9330D1, endColorstr=#9330D1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9330D1, endColorstr=#9330D1)";
	font-weight:normal;
	text-align:left;
}

/* END: AGENDA */


/* START: PRIMEIRO ACESSO */
@media (min-width: 1200px) {
	.info-first-config {
	    margin-top: -333px;
	    position: relative;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.info-first-config {
	    margin-top: -370px;
	    position: relative;
	}
}
/* END: PRIMEIRO ACESSO */


/* START: FORM WIZARD */
.panel-body .wizard-tabs {
	margin: -15px -15px 15px;
}

.panel-body-nopadding .wizard-tabs {
	margin: 0;
}

.wizard-tabs ul {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.wizard-tabs ul > li {
	display: table-cell;
	border-bottom: 1px solid #eeeeee;
}

.wizard-tabs ul > li.active {
	border-bottom-color: transparent;
}

.wizard-tabs ul > li.active > a, .wizard-tabs ul > li.active > a:hover, .wizard-tabs ul > li.active > a:focus {
	background: white;
	color: #555555;
}

.wizard-tabs ul > li.active > a:after {
	border-left-color: white;
}

.wizard-tabs ul > li.active .badge {
	background-color: #cccccc;
}

.wizard-tabs ul > li.disabled > a, .wizard-tabs ul > li.disabled > a:hover, .wizard-tabs ul > li.disabled > a:focus {
	color: #cccccc;
}

.wizard-tabs ul > li.disabled .badge {
	background-color: #cccccc;
}

.wizard-tabs ul > li > a {
	position: relative;
	display: block;
	padding: 5px;
	font-size: 13px;
	font-size: 1.3rem;
	text-decoration: none;
	color: #555555;
}

.wizard-tabs ul > li > a, .wizard-tabs ul > li > a:hover {
	background: #f4f4f4;
	color: #555555;
}

.wizard-tabs ul > li > a:hover {
	box-shadow: none;
}

.wizard-tabs ul > li > a:active, .wizard-tabs ul > li > a:focus {
	border-bottom: 0;
}

.wizard-tabs ul > li > a:before, .wizard-tabs ul > li > a:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: -10px;
	z-index: 1;
	border: 17px solid transparent;
	border-right: 0;
	border-left: 10px solid transparent;
	width: 0;
	height: 0;
}

.wizard-tabs ul > li > a:before {
	z-index: 1;
	right: -11px;
	border-left-color: #e0e0e0;
}

.wizard-tabs ul > li > a:after {
	z-index: 2;
	border-left-color: #f4f4f4;
}

.wizard-tabs ul > li:last-child > a:before, .wizard-tabs ul > li:last-child > a:after {
	display: none;
}

.wizard-progress {
	margin: 0 15px;
}

.wizard-progress .steps-progress {
	height: 2px;
	margin-left: 14%;
	margin-right: 14%;
	position: relative;
	top: 15px;
	background: #cccccc;
}

.wizard-progress .steps-progress .progress-indicator {
	height: 100%;
	width: 0;
	background: #cccccc;
	-webkit-transition: width 0.2s ease-in;
	-moz-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
}

.wizard-progress .wizard-steps {
	display: table;
	margin: 0;
	padding: 15px 0 0;
	list-style: none;
}

.wizard-progress .wizard-steps li {
	-webkit-transition: margin 0.5s linear;
	-moz-transition: margin 0.5s linear;
	transition: margin 0.5s linear;
	position: relative;
	display: table-cell;
	text-align: center;
	width: 1%;
}

.wizard-progress .wizard-steps li a {
	position: relative;
	display: block;
	padding: 25px 8px 0;
	font-size: 11px;
	color: #33333f;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.wizard-progress .wizard-steps li a span {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	background: #cccccc;
	color: white;
	line-height: 26px;
	text-align: center;
	margin-top: -15px;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	border-radius: 35px;
	font-size: 13px;
	text-indent: -1px;
	border: 2px solid #cccccc;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.wizard-progress .wizard-steps li.completed {
	margin-left: -100%;
}

.wizard-progress .wizard-steps li.completed a span {
	background: #cccccc;
	color: white;
}

.wizard-progress .wizard-steps li.active {
	margin-left: 0;
}

.wizard-progress .wizard-steps li.active a span {
	background: white;
	color: #cccccc;
	border-color: #cccccc;
}

.wizard-progress .wizard-steps li.completed.active a span {
	color: #FFF;
}

.wizard-progress.wizard-progress-lg {
	margin: 0 0 30px;
}

.wizard-progress.wizard-progress-lg .steps-progress {
	height: 4px;
	top: 30px;
}

.wizard-progress.wizard-progress-lg .wizard-steps {
	padding-top: 30px;
}

.wizard-progress.wizard-progress-lg ul li a {
	padding-top: 40px;
	font-size: 14px;
}

.wizard-progress.wizard-progress-lg ul li a span {
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	border-radius: 60px;
	line-height: 52px;
	font-size: 22px;
	border-width: 4px;
}

@media only screen and (max-width: 991px) {
	.wizard-progress, .wizard-progress.wizard-progress-lg {
		margin-bottom: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	.wizard-progress .steps-progress {
		display: none;
	}

	.wizard-progress .wizard-steps {
		display: block;
		font-size: 0;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
	}

	.wizard-progress .wizard-steps li {
		display: inline-block;
		float: none;
		position: relative;
		width: 100%;
	}

	.wizard-progress .wizard-steps li a {
		position: relative;
		z-index: 2;
	}

	.wizard-progress .wizard-steps li:before, .wizard-progress .wizard-steps li:after {
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		top: 0;
		width: 50%;
	}

	.wizard-progress .wizard-steps li:before {
		background: #cccccc;
		left: 0;
	}

	.wizard-progress .wizard-steps li:after {
		background: #cccccc;
		right: 0;
	}

	.wizard-progress .wizard-steps li.completed:after {
		background: #cccccc;
	}

	.wizard-progress .wizard-steps li:first-child:before {
		display: none;
	}

	.wizard-progress .wizard-steps li:last-child:after {
		display: none;
	}

	.wizard-progress.wizard-progress-lg .wizard-steps li:before, .wizard-progress.wizard-progress-lg .wizard-steps li:after {
		height: 4px;
	}
}

.form-wizard {
	margin-bottom: 20px;
}

.form-wizard .tabs {
	margin-bottom: 0;
}

.form-wizard .tab-content {
	border: 0 none;
	box-shadow: none;
}

.form-wizard ul.pager .next a,
.form-wizard ul.pager .previous a,
.form-wizard ul.pager .first a,
.form-wizard ul.pager .last a,
.form-wizard ul.pager .finish a {
	cursor: pointer;
}

.form-wizard .panel-heading {
	background: #f6f6f6;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #DADADA;
	padding: 18px;
	position: relative;
}

.form-wizard .panel-heading.bg-primary {
	background: #cccccc;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-secondary {
	background: #e36159;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-tertiary {
	background: #2baab1;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-quartenary {
	background: #734ba9;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-success {
	background: #47a447;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-warning {
	background: #ed9c28;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-danger {
	background: #d2322d;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-info {
	background: #5bc0de;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-dark {
	background: #171717;
	color: white;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-heading.bg-white {
	background: #fff;
	border-bottom: 0 none;
	border-right: 0 none;
}

.form-wizard .panel-footer {
	border-radius: 0 0 5px 5px;
	margin-top: -5px;
}

.form-wizard .panel-footer-btn-group {
	display: table;
	width: 100%;
	padding: 0;
}

.form-wizard .panel-footer-btn-group a {
	background-color: #f5f5f5;
	display: table-cell;
	width: 1%;
	border-left: 1px solid #ddd;
	padding: 10px 15px;
	text-decoration: none;
}

.form-wizard .panel-footer-btn-group a:hover {
	background-color: #f0f0f0;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
}

.form-wizard .panel-footer-btn-group a:first-child {
	border-left: none;
}
/* END: FORM WIZARD */

/* START: BUSCA DE PETS; */
.vp-search-result-text-overflow {
	width: 160px;
  	white-space: nowrap;
 	overflow: hidden;
  	text-overflow: ellipsis;
}

.vp-box-result-search {
	cursor: pointer;
}

.tooltip-inner {
  max-width: 500px;
}
/* END: BUSCA DE PETS; */

/* START: TREATMENT; */
#vp-treatment .pet-avatar {
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    /*height: 69px;
    width: 69px;*/
}

#vp-treatment .vp-treatment-data-pet {
	margin-left: 120px;
}

#vp-treatment .vp-treatment-data-pet h4 {
    /*font-size: 30px;*/
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}

#vp-treatment .vp-treatment-data-pet p.pet-information {
    /*color: #999;*/
    /*font-size: 14px;*/
    line-height: 20px;
    margin: 0;
}

#vp-treatment p.help-text {
    /*font-size: 14px;*/
    line-height: 22px;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* END: TREATMENT; */


/* START: TREATMENT_TEMPLATES; */
#vp-treatment-templates .vp-view-treatment-templates {
	margin-top: 20px;
	margin-bottom: 20px;
}

#vp-treatment-templates .vp-view-treatment-templates .checkbox {
    border-top: 1px solid #eee;
    cursor: default;
    height: 30px;
    padding: 10px 5px 10px 10px;
}

#vp-treatment-templates .vp-edit-treatment-templates .dashed-border {
	border: 1px dashed #ddd;
    border-radius: 3px;
    -webkit-border-radius: 03px !important;
	-moz-border-radius: 03px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    padding: 10px 20px 10px 10px;
}

#vp-treatment-templates .vp-edit-treatment-templates .btn-add-field {
	margin-top: -60px;
}

#vp-treatment-templates .vp-view-treatment-templates .select-all-checkbox {
	margin-left: -28px;
}

.vp-tabs-treatment {
	margin-top: 30px;
    margin-bottom: 20px;
}

#vp-form-init-treatment {
	display: none;
}

/* END: TREATMENT_TEMPLATES; */